* {
  scroll-behavior: smooth;
  margin: 0;
}

p a{
  color:rgb(12, 28, 53);
  font-style: italic;
}

body {
  background: #0b0f20;
  color: white;
}

.invis{
  visibility: hidden;
}

.nameNav{
  z-index: 10001;
}

.mob-btn {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 3px solid #fff
}

.mob-btn__burger{
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .2s ease-in-out;
}

.mob-btn__burger::before,
.mob-btn__burger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .2s ease-in-out;
}

.mob-btn__burger::before{
  transform: translateY(-8px);
}

.mob-btn__burger::after{
  transform: translateY(8px);
}

.mob-btn.open .mob-btn__burger {
  transform: translateX(-25px);
  background: transparent;
  box-shadow: none;
}

.mob-btn.open .mob-btn__burger::before {
  transform: rotate(45deg) translate(17.5px, -17.5px);
}

.mob-btn.open .mob-btn__burger::after {
  transform: rotate(-45deg) translate(17.5px, 17.5px);
}

nav{
  position: sticky;
  margin-top: 25px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.name{
  text-align: center;
}

.left, .right{
  display: flex;
}

.right{
  justify-content: flex-end;
  align-items: center;
}

.right i{
  display: none;
}

.nav-links{
  z-index: 1000;
  justify-content: flex-end;
  margin-right: 10px;
  transition: all .2s ease-in-out;
  word-wrap: normal;
}

.nav-links.false{
  transform: translateX(50px);
  visibility: hidden;
  opacity: 0;
}

.nav-links.false a{
  pointer-events: none;
}

.nav-links a{
  display:inline-block;
  list-style-type:none;
  margin-right:-4px;
  padding:10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all .2s ease-in-out;
}

.nav-links a:hover{
  color: rgb(42, 42, 255);
}

.right i{
  display: none;
  margin: 10px
}


.mob-false, .mob-true{
  display: none;
}


.Page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.About{
  margin-left: 7%;
  margin-right:7%;
}

.pageTitle{
  text-align: left;
  color:aqua;
  width: 40%;
  font-size: 250%;
  margin-right: auto;
  margin-bottom: 50px;
}

.Intro{
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7%;
  margin-right:7%;
}

.introText{
  width: 40%;
  word-wrap: normal;
}

.nameTitle{
  color:aqua;
  font-size: 300%;
  margin-bottom: 20px;
}

.introBox{
  text-align: center;
}

.imgBox{
  max-width: 40%;
  height: auto;
}

.question{
  display: flex;
  justify-content: start;
  width: 95%;
  font-style: italic;
  margin: 70px 0px auto 20px;  
}

.answer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95%;
  margin: auto 20px 70px auto;
}

.encryptWord{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}


.pageText{
  display: flex;
  flex-direction: row;
  line-height: 35px;
  margin-left: 50px;
  margin-right: 50px;
}

.pageTextCenter{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
}

.skillText{
  margin-left: 50px;
}

.projectRow{
  height: 45vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project{
  width: 45%;
  text-align: center;
}

.bigProject{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bigProject img {
  height: 300px;
  width: 533px;
}

.bigImage{
  
}

.bigText{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.smallerProjects{
  display: flex;
  flex-direction: row;
}

.project img{
  width: 533px;
  height: 300px;
  border: 1px solid white;
  cursor: pointer;
  transition: all .2s ease-out;
}

.project img:hover{
  background: rgba(26, 14, 129, 0.2);
}

.Skills{
  margin-left: 7%;
  margin-right:7%;
}


.skillList{
  list-style: none;
}

.skillList li{
  cursor: pointer;
  transition: all .2s ease-out;
  display: inline-block;
  background: rgb(29, 68, 126);
  margin: 5px;
  border-radius: 10%;
  padding: 2px;
}

.skillList li:hover{
  font-size: 120%;
}

.Contact{
  background: radial-gradient(rgb(114, 66, 11), black)
  
}

.headshot, .mouse {
  position: absolute;
  top: 0;
  margin: 0 auto;
  border: solid 20px rgb(27, 27, 27);
  background-image: url("images/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headshot{
  filter: brightness(8%);
}

.mouse {
  clip-path: circle(0em at 0 0);
}

.calling-card{
  display: flex;
  flex-direction: row;
  transform: rotate(20deg);
  background: rgb(226, 203, 100);
  box-shadow: 3px -4px;
}


@media (max-width:800px){
  nav{
    width: 100%;
    margin-top: 0px;
  }

  .nav-links-mobile{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    transition: all .2s ease-in-out;
    z-index: 1000;
  
  }

  .nav-links-mobile a {
    height: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: black;
    background-color: white;
    transition: all .2s ease-in-out;
  }
  
  .nav-links-mobile a:hover {
    color:rgb(42, 42, 255);
  }
  
  .nav-links-mobile a h1{
    vertical-align: middle;
  }

  .nav-links-mobile.mob-false{
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }

  .right i{
    display: block;
  }

  .mob-true, .mob-false{
    display: flex;
  }

  .false, .true{
    display: none;
  }

  .pageTitle{
    margin-left: auto;
  }

  .pageText{
    flex-direction: column;
  }

  .Intro{
    flex-direction: column;
  }

  .introText{
    width: 80%;
    text-align: center;
  }
}