* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background: #272727;
  color: white;
}

.pages{
  position: absolute;
  top: 0;
  left: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.mob-btn {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 3px solid #fff
}

.mob-btn__burger{
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .2s ease-in-out;
}

.mob-btn__burger::before,
.mob-btn__burger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .2s ease-in-out;
}

.mob-btn__burger::before{
  transform: translateY(-8px);
}

.mob-btn__burger::after{
  transform: translateY(8px);
}

.mob-btn.open .mob-btn__burger {
  transform: translateX(-25px);
  background: transparent;
  box-shadow: none;
}

.mob-btn.open .mob-btn__burger::before {
  transform: rotate(45deg) translate(17.5px, -17.5px);
}

.mob-btn.open .mob-btn__burger::after {
  transform: rotate(-45deg) translate(17.5px, 17.5px);
}

nav{
  margin-top: 25px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.name{
  text-align: center;
}

.left, .right{
  flex:1;
  display: flex;
}

.right{
  justify-content: flex-end;
  align-items: center;
}

.right i{
  display: none;
}

.nav-links{
  z-index: 1000;
  justify-content: flex-end;
  margin-right: 10px;
  transition: all .2s ease-in-out;
}

.nav-links.false{
  transform: translateX(50px);
  visibility: hidden;
  opacity: 0;
}

.nav-links.false a{
  pointer-events: none;
}

.nav-links a{
  display:inline-block;
  list-style-type:none;
  margin-right:-4px;
  padding:10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all .2s ease-in-out;
}

.nav-links a:hover{
  color: rgb(42, 42, 255);
}

.right i{
  display: none;
  margin: 10px
}

/* .true{
  display: flex;
} */

.mob-false, .mob-true{
  display: none;
}

.Page{
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Intro{
  color: white;
}

.About{

}

.aboutPara{
  display: block;
  text-align: center;
}

.aboutSection{
  display: flex;
}

.Projects{
  /* background-color: yellow; */
}

.Skills{
  /* background-color: green; */
}

.Contact{
  background: radial-gradient(rgb(114, 66, 11), black)
  
}

.imgBox {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: none;
}

.headshot, .mouse {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-image: url("../public/images/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headshot{
  filter: brightness(8%);
}

.mouse {
  clip-path: circle(0em at 0 0);
}

.calling-card{
  display: flex;
  flex-direction: row;
  transform: rotate(20deg);
  background: rgb(226, 203, 100);
  box-shadow: 3px -4px;
}


@media (max-width:1280px){
  nav{
    width: 100%;
    margin-top: 0px;
  }

  .nav-links-mobile{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    transition: all .2s ease-in-out;
    z-index: 1000;
  
  }

  .nav-links-mobile a {
    height: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: black;
    background-color: white;
    transition: all .2s ease-in-out;
  }
  
  .nav-links-mobile a:hover {
    color:rgb(42, 42, 255);
  }
  
  .nav-links-mobile a h1{
    vertical-align: middle;
  }

  .nav-links-mobile.mob-false{
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }

  .right i{
    display: block;
  }

  .mob-true, .mob-false{
    display: flex;
  }

  .false, .true{
    display: none;
  }
}